*.o
*.lo
*.a
*.la
.*
*.m4
.libs/
saftbus-ctl
saftbusd
missing
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.log
config.status
config.sub
configure
configure~
depcomp
install-sh
libsaftbus.la
libtool
ltmain.sh
doc/
saftbus-gen
saftbus.pc
*_Proxy.*pp
*_Service.*pp
*_Proxy.*o
*_Service.*o