*.o
*.lo
*.a
*.la
.*
*.m4
.libs/
saftbus-ctl
saftbusd
missing
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.log
config.status
config.sub
configure
configure~
depcomp
install-sh
libsaftbus.la
libtool
ltmain.sh
doc/
saftbus.pc
*_Proxy.*pp
*_Service.*pp
*_Proxy.*o
*_Service.*o
saft-burst-ctl
saft-clk-gen
saft-ctl
saft-dm
saft-eb-fwd
saft-ecpu-ctl
saft-fg-ctl
saft-gmt-check
saft-io-ctl
saft-lcd
saft-mfg-ctl
saft-pps-gen
saft-roundtrip-latency
saft-scu-ctl
saft-standalone-mbox
saft-standalone-roundtrip-latency
saft-uni
saft-wbm-ctl
saftbus-gen-local
saftbus.service
saftbusd-noda
saftbusd-sda
saftlib.pc
soft-tr
software-tr
version.h
wait-msi
saft-software-tr
saft-testbench
saft-pwm-ctl
