# Targets
saftd
client
saft-ctl
saft-fg-ctl
saft-mfg-ctl
saft-io-ctl
saft-pps-gen
saft-ecpu-ctl
saft-scu-ctl
saft-clk-gen
saft-dm
saft-gmt-check
# Automake junk dirs
tools
m4
# Compilation junk
*.o
*.a
*.lo
*.la
.libs
.deps
.dirstamp
version.h
# Automake junk files
ChangeLog
saftlib.pc
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.h
config.h.in
config.log
config.status
configure
stamp-h1
libtool
saftlib-*.tar.gz
# Debian package files
debian/control
debian/libsaftlib[0-9]*.install
build
